body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.arrows {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(2, 130px);
}

.arrow {
    border: 2px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    padding: 20px;
}

.arrow-left, .arrow-down, .arrow-right {
    grid-row: 2;
}

.arrow-up {
    grid-column: 2;
}